@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-11">
    <div class="mainheadingdiv">
        <div class="row">
            <div class="col-sm-1">
                <div class="mainheadericondiv"><div class="mainheadericon"><img src="~/Images/interview-sm.png" width="45" height="45" alt="" /></div></div>
            </div>
            <div class="col-sm-5">
                <div class="mainheaderdiv">Interview Assessment</div>
            </div>

        </div>
    </div>
    <div class="contentmaindiv">
        <div class="myprojectdiv">
            
           <a class="backbuttondiv" href="#"><img alt="Back" width="30" height="30" src="../images/back-button.png" /></a>

        </div>
        <div class="popupheadingmaindiv">
            <div class="popupheadingtext">Interview Assessment</div>
            <div class="popupclosebutton"><a href="#">X</a></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="contentfielddiv">

                    <input class="floating-input" type="text" placeholder=" ">
                    <label class="float">Interviwee Name</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contentfielddiv">
                    <input class="floating-input" type="text" placeholder=" ">
                    <label class="float">Interviewer Name</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contentfielddiv">

                    <input class="floating-input" type="text" placeholder=" ">
                    <label class="float">Position Applied</label>
                </div>
            </div>
        </div>

        <div class="space"></div>
        <div class="popupheadingmaindiv">
            <div class="popupheadingtext">Criterias</div>
            <div class="popupclosebutton"><a href="#">X</a></div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="weeklyoffmaindiv">
                    <div class="weeklytext">Techinical Ability</div>
                    <div class="ratingdiv">
                        <fieldset class="rating">
                            <input type="radio" id="field1_star5" name="rating1" value="5" /><label class="full" for="field1_star5"></label>

                            <input type="radio" id="field1_star4" name="rating1" value="4" /><label class="full" for="field1_star4"></label>

                            <input type="radio" id="field1_star3" name="rating1" value="3" /><label class="full" for="field1_star3"></label>

                            <input type="radio" id="field1_star2" name="rating1" value="2" /><label class="full" for="field1_star2"></label>

                            <input type="radio" id="field1_star1" name="rating1" value="1" /><label class="full" for="field1_star1"></label>

                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="weeklyoffmaindiv">
                    <div class="weeklytext">Interpersonal Skills</div>
                    <div class="ratingdiv">
                        <fieldset class="rating">
                            <input type="radio" id="field2_star5" name="rating2" value="5" /><label class="full" for="field2_star5"></label>

                            <input type="radio" id="field2_star4" name="rating2" value="4" /><label class="full" for="field2_star4"></label>

                            <input type="radio" id="field2_star3" name="rating2" value="3" /><label class="full" for="field2_star3"></label>

                            <input type="radio" id="field2_star2" name="rating2" value="2" /><label class="full" for="field2_star2"></label>

                            <input type="radio" id="field2_star1" name="rating2" value="1" /><label class="full" for="field2_star1"></label>

                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="weeklyoffmaindiv">
                    <div class="weeklytext">Presentaiton Skills</div>
                    <div class="ratingdiv">
                        <fieldset class="rating">
                            <input type="radio" id="field3_star5" name="rating3" value="5" /><label class="full" for="field3_star5"></label>

                            <input type="radio" id="field3_star4" name="rating3" value="4" /><label class="full" for="field3_star4"></label>

                            <input type="radio" id="field3_star3" name="rating3" value="3" /><label class="full" for="field3_star3"></label>

                            <input type="radio" id="field3_star2" name="rating3" value="2" /><label class="full" for="field3_star2"></label>

                            <input type="radio" id="field3_star1" name="rating3" value="1" /><label class="full" for="field3_star1"></label>

                        </fieldset>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="weeklyoffmaindiv">
                    <div class="weeklytext">Leadership Skills</div>
                    <div class="ratingdiv">
                        <fieldset class="rating">
                            <input type="radio" id="field4_star5" name="rating4" value="5" /><label class="full" for="field4_star5"></label>

                            <input type="radio" id="field4_star4" name="rating4" value="4" /><label class="full" for="field4_star4"></label>

                            <input type="radio" id="field4_star3" name="rating4" value="3" /><label class="full" for="field4_star3"></label>

                            <input type="radio" id="field4_star2" name="rating4" value="2" /><label class="full" for="field4_star2"></label>

                            <input type="radio" id="field4_star1" name="rating4" value="1" /><label class="full" for="field4_star1"></label>

                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="weeklyoffmaindiv">
                    <div class="weeklytext">Teamwork</div>
                    <div class="ratingdiv">
                        <fieldset class="rating">
                            <input type="radio" id="field5_star5" name="rating5" value="5" /><label class="full" for="field5_star5"></label>

                            <input type="radio" id="field5_star4" name="rating5" value="4" /><label class="full" for="field5_star4"></label>

                            <input type="radio" id="field5_star3" name="rating5" value="3" /><label class="full" for="field5_star3"></label>

                            <input type="radio" id="field5_star2" name="rating5" value="2" /><label class="full" for="field5_star2"></label>

                            <input type="radio" id="field5_star1" name="rating5" value="1" /><label class="full" for="field5_star1"></label>

                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contentfielddiv">
                    <select class="floating-select" onclick="this.setAttribute('value', this.value);" value="">
                        <option value=""></option>
                        <option value="1">Selected</option>
                        <option value="2">Rejected</option>
                        <option value="3">Inhold</option>
                        <option value="4">None</option>
                    </select>
                    <label class="float">Status</label>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="contentfielddiv">
                    <div class="textarea-wrapper">
                        <textarea class="myprojecttextarea" required></textarea>
                        <span class="floating-label">Comments</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="buttonmaindiv">
            <div class="buttondiv"><input class="submitbtn" type="button" /></div>
            <div class="buttondiv"><input class="clearbtn" type="button" /></div>
            <div class="buttondiv"><input class="printbtn1" type="button" /></div>
            <div class="buttondiv"><input class="emailbtn" type="button" /></div>
        </div>
    </div>
</div>