
@model NuPortal.Models.Login

@{
    string msg = "";
    if (Model != null)
    {
        msg = Model.ErrorMessage;
    }
}
<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.min.css">
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link href="bootstrap-3.3.7-dist 2/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="bootstrap-3.3.7-dist 2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body class="Loginmaindiv">
@using (Html.BeginForm())
{ 
    <div class="logininnerdiv">
        <div class="loginlogo"><img src="..\Images\login-logo6.png" width="155" height="155" alt="" /> </div>
        <div class="loginsubdiv">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
            <div class="row">
                <div class="col-md-12">
                    <div class="loginusernamediv">
                      @*  <input type="text" class="contenttextfield" required />*@
                        @Html.TextBoxFor(model => model.userName, new { @id = "idUsername",@class = "floating-input", placeholder = " ",@Value= ""})
                        <label class="float">User Name</label>
                        <div class="loginerrorlabel">* Enter User Name</div>
                        <div class="ErrorLabel" style="padding-left:0px !important">
                            @Html.Label(msg, new { @class = "lblMessage" })
                        </div>                                              
                    </div>
                </div>
            </div>
            <div class="loginforgotpassword"><a href="/Login/LoginView">Sign In</a></div>
            <div  class="sigindiv"><input id="btnSend" class="signinbtn" value="Send" type="submit" /></div>                     
        </div>       
    </div>
    }
</body>
</html>
